{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
            <div class="navbar">
                    <div class="icon">
                        <h2 class="logo">SPARK </h2>
                    </div>
                       <div class="menu">
                            <ul>
                                
                                <li><a href="{% url 'index' %}">HOME</a></li>
								<li><a href="{% url 'news' %}">NEWS</a></li>
								<li><a href="{% url 'contact' %}">CONTACT</a></li>
								<li><a href="{% url 'about' %}">ABOUT</a></li>
								<li><a href="{% url 'cart' %}">CART</a></li>
								<li><a href="{% url 'login' %}">LOGIN</a></li>
                            
                            </ul>
                       </div>
                       <div class="search">
                        <form action="{% url 'search' %}">
                            <input class = "searchbtn" type="text" placeholder="Search.." name="search">
                            <a href="#"> <button class = "submitbtn" type="submit">Submit</button></a>
                          </form>
                       </div>
            </div>
			<br><br><br><br>
			<h1 style="background-color:white; color:black; text-align:center;">Thank you for your submission!</h1>


            
          

    </div>
    

</body>
</html> 