{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
                <div class="icon">
                    <h2 class="logo">SPARK </h2>
                </div>
                   <div class="menu">
                        <ul>
                            
                            <li><a href="{% url 'index' %}">HOME</a></li>
                            <li><a href="{% url 'news' %}">NEWS</a></li>
                            <li><a href="{% url 'contact' %}">CONTACT</a></li>
                            <li><a href="{% url 'about' %}">ABOUT</a></li>
                            <li><a href="{% url 'cart' %}">CART</a></li>
							<li><a href="{% url 'login' %}">LOGIN</a></li>
                        </ul>
                   </div>
                   <div class="search">
                    <form action="{% url 'search' %}">
                        <input class = "searchbtn" type="text" placeholder="Search.." name="search">
                        <a href="#"> <button class = "submitbtn" type="submit">Submit</button></a>
                      </form>
                   </div>
                  
                
        </div>
		<h1 style="text-align:center; color:aqua;">Register</h1>
			<br><br><br><br><br><br><br><br><br><br>
			<div class="Acontainer" style="background:rgb(1, 5, 58); text-align:center">
			<br>
				<form action="addrecord/" method="post">
					{% csrf_token %}
				<label for="username" style="color:white">Username</label><br>
				<input name="username" style="text-align:center" id="username" name="username" placeholder="Enter Username Here" onkeyup="checkUsername();" Required="required">
				
				<input class="checkbox" type = "checkbox" id="cbUser" onclick="return false;"><br>
				<label for="pw1" style="color:white">Password</label><br>
				<input type="password" style="text-align:center" id="pw" name="pw" placeholder="Enter Password Here" onkeyup="checkPW();" Required="required">
				<input type="checkbox" id="cbPW" name="cbPW" value="cbPW" onclick="return false;"><br>
				<label for="repw" style="color:white">Re-Enter Password</label><br>
				<input type="password" style="text-align:center" id="repw" name="repassword" placeholder="Re-Enter Password Here" onkeyup="checkrePW();" Required="required">
				<input type="checkbox" id="cbrePW" name="cbrePW" value="cbrePW" onclick="return false;"><br>
				<label for="email" style="color:white">Email</label><br>
				<input name="email" style="text-align:center" id="email" name="email" placeholder="Your Email Address Here" onkeyup="checkEmail();" Required="required">
				<input type="checkbox" id="cbEmail" name="cbEmail" value="cbEmail" onclick="return false;">
				<br>
				<label for="message" style="color:white">Make sure all checkboxes are checked by filling out the selections correclty.</label>
				<br>
				<label for="message1" style="color:white">Passwords MUST Match and Email MUST be valid.</label>
				<br>
				<input id="sButton" type="submit" value="Register" disabled="disabled" onclick="mess();">
				
				</form>
				
				<script>
				// Get the email
				var user = false;
				var p = false;
				var rp = false;
				var e = false;
				
				function mess()
				{
					alert("Registration Complete!");
				}
				
				function checkUsername()
				{
					var username = document.getElementById("username").value;
					if (username != "")
					{
						document.getElementById("cbUser").checked = true;
						user = true;
					}
					else
					{
						document.getElementById("cbUser").checked = false;
						user = false;
					}
					registerFunction();
				}
				function checkPW()
				{
					var pw1 = document.getElementById("pw").value;
					if (pw1 != "")
					{
						document.getElementById("cbPW").checked = true;
						p = true;
					}
					else
					{
						document.getElementById("cbPW").checked = false;
						p = false;
					}
					registerFunction();
				}
				function checkrePW()
				{
					var pw1 = document.getElementById("pw").value;
					var repw = document.getElementById("repw").value;
					if (pw1 == repw &&  pw1 != "" && repw != "")
					{
						document.getElementById("cbrePW").checked = true;
						rp = true;
					}
					else
					{
						document.getElementById("cbrePW").checked = false;
						rp = false;
					}
					registerFunction();
				}
				
				function checkEmail()
				{
					var email = document.getElementById("email").value;
					if (email.indexOf("@") > -1 && (email.indexOf(".com") > -1 || email.indexOf(".net") > -1 || email.indexOf(".edu") > -1))
					{
						document.getElementById("cbEmail").checked = true;
						e = true;
					}
					else
					{
						document.getElementById("cbEmail").checked = false;
						e = false;
					}
					registerFunction();
				}
				
				function registerFunction() 
				{
					if(user == true && p == true && rp == true && e == true)
						document.getElementById('sButton').disabled = false;
					else
						document.getElementById('sButton').disabled = true;
				}
				
				</script>
				
				
				

</div>  

<style>
		.card {
			box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.426);
			max-width: 300px;
			margin: auto;
			text-align: center;
			}

			.title {
			color: rgb(255, 255, 255);
			font-size: 18px;
			}

			button {
			border: none;
			outline: 0;
			display: inline-block;
			padding: 8px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
			}

			.a {
			text-decoration: none;
			font-size: 22px;
			color: rgb(1, 43, 255);
			}

			button:hover, a:hover {
			opacity: 0.5;
			}
			footer {
          text-align: center;
          padding: 5px;
          background-color: rgb(0, 16, 70);
          color: rgba(0, 0, 0, 0);
          font-style:normal; 
        }
	</style>
	 
      
      
       
</body>
<br><br><br><br><br><br><br>
<footer>
	<p>SPARK<br>
	  For Any Complaints, Contact Our Co Founder Directly : <a href="https://www.linkedin.com/in/saja-a/"><i class="fa fa-linkedin"></i></a>	<br>
	<a href="mailto:hege@example.com"> &copy; Copyright 2022 HTML.am</a></p>
  </footer>
</html> 