{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styleNews.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</html>
<body>
	<div class="container">
            <div class="navbar">
                    <div class="icon">
                        <h2 class="logo">SPARK</h2>
                    </div>
                       <div class="menu">
                            <ul>

                                <li><a href="{% url 'index' %}">HOME</a></li>
								<li><a class =active shref="{% url 'news' %}">NEWS</a></li>
								<li><a  href="{% url 'contact' %}">CONTACT</a></li>
								<li><a href="{% url 'about' %}">ABOUT</a></li>
								<li><a href="{% url 'cart' %}">CART</a></li>
								<li><a href="{% url 'login' %}">LOGIN</a></li>
                            </ul>
                       </div>
                       <div class="search">
                        <form action="search.html">
                            <input class = "searchbtn" type="text" placeholder="Search.." name="search">
                            <a href="#"> <button class = "submitbtn" type="submit">Submit</button></a>
                          </form>
                       </div>
            </div>
            <form1 action="action_page.php">
              <div class="cont">
                <h2>Subscribe to our Newsletter</h2>
                <p><b>If you want to get all our news and deals subscribe to our Newsletter!</b></p>
              </div>
            
              <div class="cont" style="background-color:white">
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Email address" name="mail" required>
                <label>
                  <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
                </label>
              </div>
            
              <div class="cont">
                <input type="submit" value="Subscribe">
              </div>
            </form1>
           
          </div>
          
    <style>
      footer {
        text-align: center;
        padding: 5px;
        background-color: rgb(0, 16, 70);
        color: rgba(0, 0, 0, 0);
        font-style:normal; 
      }
      </style>
    
    
      
      <footer>
        <p>SPARK<br>
          For Any Complain Contact Our Co Founder Directly : <a href="https://www.linkedin.com/in/saja-a/"><i class="fa fa-linkedin"></i></a>	<br>
        <a href="mailto:hege@example.com"> &copy; Copyright 2022 HTML.am</a></p>
      </footer>
       
          
	</div>
</body>